<div class="brand-collection-filter-section">
<div class="page-width">
    <div class="inner-brand-collection-filter-section">
     <div class="collection-feature-lists">
      {%- for block in section.blocks -%}
        <div class="single-brand-item">
           <a href="{{ block.settings.link }}">
           {% if block.settings.image != blank %}
          <img src="{{ block.settings.image | img_url :'' }}">
           {% endif %}
          <div class="collection-title">
            {{ block.settings.heading }}
            </div>
            </a>
        </div>
        {%- endfor -%}
      </div>
  </div>
 </div>
</div>

{% schema %}
  {
    "name": "Brand Collection Filter",
    "settings": [
    ],
    "blocks": [
      {
        "name": "Brand Block",
        "type": "brand-block",
        "settings":[
          {
            "type": "image_picker",
            "id":   "image",
            "label":"Image"
          },
          {
            "type":  "text",
            "id":    "heading",
            "label": "Heading"
          },
          {
            "type":  "url",
            "id":    "link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}